body{
  margin: 0px;
  padding: 0px;
  
}
h1{
  margin: 0px;
  padding: 0px;
}

#firstdiv{
  text-align: center;
  background-color: rgb(233, 233, 202);
  color: black;
  position: sticky;
  top: 0;
  
}
#lastdiv{
  text-align: center;
  background-color: rgb(43, 43, 35);
  color: rgb(255, 255, 255);
  position: fixed;
  bottom: 0;
  width: 100vw;
  
}
#maindiv{
  height: 100vh;
  width: 100vw;
  
}

